*{
    margin: 0px;
    padding: 0px;
}
.p2{
    margin: 20px;
}
.div1{
    float: left;
    width: 10%;
    height: 100%;
    background-color: white;
}
.div2{
    float: right;
    width: 90%;
    height: 100%;
    background-color: #F5F5F5;
}
.div-v1{
    min-width: 100%;
    min-height: 5%;
}
.div-v2{
    margin: auto;
    border-radius: 20px;
    background-color: #E8E8E8;
    max-width: 99%;
    height: 100%;
}

